<form action="/auth" method="post">
  <input type="text" name="username" placeholder="User Name">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Submit</button>
</form>

<a href="/register">Sign Up</a>
<div>
  {{#if message }}
  {{message}}
  {{/if}}
</div>
