body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  background-color: #4c5c68;
  color: #dcdcdd;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

#header-image {
  width: 70%;
}

.hello {
  display: flex;
  width: 70%;
  justify-content: flex-start;
  margin: 10px;
}

.hello-name {
  margin-right: 15px;
  font-size: 24px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.single-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: 1px solid black;
  width: 100%;
  background-color: white;
  color: #46494c;
  border-radius: 10px;
}

.new-post-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  /* height: 40px; */
  width: 70%;
}
.post-input {
  height: 30px;
  margin: 10px;
  width: 80%;
}

button {
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  padding: 15px 50px;
  outline: none;
  background-color: #dcdcdd;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #95a5a6;
  margin-top: 20px;
  color: #4c5c68;
}

button:hover {
  background-color: white;
}

button:active {
  background-color: white;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}

.logout-button {
  font-size: 16px;
  padding: 10px 15px;
  margin-top: 0px;
}

.post-title {
  font-size: 26px;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #dcdcdd;
}

.post-text {
  margin: 20px;
}

.post-image {
  width: 90%;
}

.img-container {
  display: flex;
  justify-content: center;
}

.author {
  margin: 10px;
}
